<main role="main">
  <div class="main-container">
    <div class="container">
        <h1>CONDITIONS GENERALES DE SERVICE</h1>
          <p>mise en place le 1er janvier 2024</p>
        <hr>
        <div class="section">
          <h2>Article 1 - Mentions légales :</h2>
            <section>Le présent site, accessible à l'URL www.myikigai.fr (le 'Site'), est édité par :
            <ul>
              <li>My Ikigaï SASU</li>
              <li>SIRET : 981 142 680 00017</li>
              <li>NAF/APE : 5829C édition logiciels applicatifs - immatriculé le 03 novembre 2023</li>
              <li>Adresse du siège social : 14 ruelle de la petite tsarire - LD La Thuile de Vulmix - 73700 Bourg St Maurice, France</li>
              <li>email : hello@myikigai.fr</li>
              <li>Tel : +33 (0) 6 48 20 23 96</li>
              <li>Horaires d'ouverture : du lundi au vendredi de 9h à 18h</li>
            </ul> </section>

          <h2>Article 2 - Champ d'application : </h2>
            <section>Les présentes conditions générales de services (les « Conditions Générales ») ont pour objet de définir et de régir les rapports contractuels entre le Prestataire et tout professionnel (un « Client ») ayant souscrits aux services proposés sur le Site.<br>
            La fourniture des services proposés aux Clients sur le Site est conditionnée à l’acceptation préalable sans restriction ni réserve des présentes Conditions Générales.<br>
            Les Conditions Générales sont mises à la disposition des Clients sur le Site où elles sont directement consultables et peuvent également lui être communiquées sur simple demande par tout moyen.<br>
            Les Conditions Générales sont applicables nonobstant toute stipulation contraire figurant dans tous documents émanant du Client, et notamment dans ses conditions générales d’achat.<br>
            Les Conditions Générales sont applicables sous réserve de toute stipulation contraire figurant au bon de commande ou à des conditions particulières le cas échéant conclues entre la Société et le Client concerné.</section><br>
          <h2>Article 3 - Description des services : </h2>
            <section>Le Site à pour objet de présenter les serivces du Prestataire:
              <ul>
                <li>Réalisation de maquette de site internet (webdesign)</li>
                <li>Intégration de maquette sous CMS Ruby on Rails/PostgreSQL</li>
                <li>Programmation de pages web au format HTML5, CSS3 & Javascript</li>
                <li>Création d'identité visuelle & impression papier</li>
                <li>Initiation et formations à la navigation web</li>
                <li>Création des campagnes Marketing Digital</li>
                <li>Initiation au Marketing Digital</li>
              </ul>
            Les Services présentés sur le Site font chacun l’objet d’un descriptif mentionnant leurs caractéristiques essentielles. Cette description est susceptible de comporter des descriptions, photographies et graphismes qui ne sont communiqués qu’à titre illustratif et peuvent être modifiées/mises à jour sur le Site.</section><br>
          <h2>Article 4 - Commandes :</h2>
            <section>Tout Client désirant bénéficier des Services présentés sur le Site devra :
              <ul>
                <li>Prendre contact avec le Prestataire par téléphone, par mail, via le formulaire de contact ou les réseaux sociaux</li>
                <li>Présenter son projet de communication digital et sélectionner les Services qu’il souhaite souscrire</li>
                <li>Renseigner les informations sur son entreprise (nom, prénom, adresse postale, adresse électronique, numéro SIRET, etc.) pour recevoir un devis chiffré de la prestation</li>
                <li>Signer le contrat de prestation qui intégrera le devis chiffré et rappelera les conditions générales des services et définira les modalités de réalisation de la prestation</li>
                <li>Verser un acompte de 50% par virement bancaire pour confirmer la commande</li>
              </ul>
            Sauf disposition expresse figurant sur le Site, le Client ne pourra pas modifier sa commande après l’avoir validée, laquelle sera ferme et définitive.<br>
            Dès réception du paiement des Services compris dans la commande, le Prestataire adressera au Client un courrier électronique de confirmation de sa commande à l’adresse email renseignée par ce dernier.<br>
            Le courrier électronique de confirmation de la commande résume les caractéristiques essentielles du/des Service(s) commandé(s), le prix total, et tout autre élément pertinent et sera joint d’une facture d’acompte.<br>
            Pour lutter contre la fraude, le Prestataire ou ses prestataires de paiement ou de livraison peuvent être amenés à demander des justificatifs supplémentaires au Client ou prendre attache avec ce dernier, au moment de l’acceptation et/ou de la livraison de la commande. En cas de refus non justifié du Client de délivrer les informations et/ou justificatifs demandés, le Prestataire se réserve le droit de ne pas accepter ou d’annuler la commande sans que cela ne puisse faire l’objet d’une quelconque contestation.<br>
            Le Prestataire se réserve également le droit de ne pas accepter ou d’annuler la commande de tout Client qui aurait fourni des informations erronées, qui ne procèderait pas au paiement des Services, avec lequel existerait un litige relatif au paiement d’une commande antérieure ou qui présenterait un niveau de commande anormalement élevé.</section><br>
          <h2>Article 5 - Signature électronique : </h2>
            <section>La signature du contrat de prestation par les deux partis sera réalisée via les services proposés par la banque Qonto, qui garantir l'authenticité du document et des signataires :
              <ul>
                <li>Identification des parties par leur adresse e-mail et leur nom,</li>
                <li>Signature et paraphes électroniques,</li>
                <li>Archivage des informations de connexion (adresse IP).</li>
              </ul>
            Après signature du contrat, chaque partie reçoit le document signé accompagné de l’audit de signature.</section><br>
          <h2>Article 6 - Obligations du prestataire : </h2>
            <section>Le prestataire est responsable de la bonne exécution des prestations qui lui sont confiées. À ce titre, il s’engage à mener à bien les prestations conformément aux règles de l’art, de la meilleure manière possible et il en assure le contrôle et le suivi.<br>
            Le prestataire et le client se réunissent périodiquement dans le cadre de réunions téléphoniques ou physiques de suivi de l’avancement des prestations, de sorte que chacune des parties soit informée de l’avancement des prestations par rapport au planning, ainsi que des éventuels problèmes rencontrés.<br>
            Le prestataire s’engage à communiquer sur l’avancement des travaux qui lui sont confiés et à s’informer des travaux à venir par les moyens suivants :
              <ul>
                <li>Saisie quotidienne sur l’outil de suivi de projet (Trello),</li>
                <li>Consultation et réponse quotidienne aux demandes par e-mail du client,</li>
                <li>Consultation quotidienne des éventuels incidents et fourniture d’un délai de résolution,</li>
                <li>Livraison des documents numériques par le service WeTransfer.</li>
              </ul>
            Le prestataire s’engage à informer et conseiller le client, tant préalablement qu’au cours de l’exécution du présent accord, de tout élément susceptible d’améliorer l’exécution de la prestation ou d’en diminuer le coût.<br>
            Le prestataire fournira au client tous éléments et méthodes, et de manière générale, toutes données, permettant au client de décider des options à opérer.<br>
            Le prestataire optimisera au mieux le référencement naturel mais ne s’engage pas en terme de positionnement et de résultat. Pas de garantie de positionner le site en première page des moteurs de recherche. Les concurrents y sont déjà présents et ces derniers favorisent les sites ayant de l’ancienneté et de la popularité. Cependant, tout sera mis en œuvre pour que le contenu du site internet soit lu et indexé par les robots d’exploration des moteurs de recherche. Le prestataire formera le client sur les techniques d’optimisation (SEO) et le conseillera sur les outils à utiliser pour analyser le trafic de son site internet.<br>
            Le prestataire ne se porte pas responsable des résultats en terme de conversions sur le site du client. Les résultats seront fonction de la qualité du contenu, des services et/ou produits proposés, des tarifs appliqués et de la réputation du client. Le prestataire contribuera cependant à une bonne présentation du contenu, des services et/ou produits sur le site internet afin de favoriser les conversions. Il conseillera également le client sur les stratégies à mettre en oeuvre pour soigner la réputation du site internet (avis clients).<br>
            Si le prestataire héberge le site internet du client sur ses serveurs, celui-ci mettra tout en œuvre pour rendre le site disponible à tout moment et effectuera les sauvegardes automatiques nécessaires pour garantir la préservation des données du client. Le prestataire ne garantit pas une disponibilité à 100% de l’hébergement. En cas de panne du serveur ou de maintenance du serveur liées aux actions du fournisseur du prestataire (data center), le client sera avisé par e-mail ou par sms de l’indisponibilité de son site internet et le prestataire demandera auprès de son fournisseur, le rétablissement le plus rapide des services.<br>
            Le Prestataire édite les services disponibles sur le site et héberge les contenus du site mis en ligne par le client ou les utilisateurs de ce dernier. Le Prestataire agit en tant que prestataire technique et n’effectue aucun contrôle sur la licéité, l’exactitude, la qualité ou la sincérité de ces contenus sous la responsabilité du client.<br>
            En conséquence, le client reconnait au prestataire la qualité d’hébergeur du site au sens de l’Article 6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique.<br>
            Toutefois, le prestataire s’engage à retirer promptement tout contenu manifestement illicite qui serait porté à sa connaissance, notamment lorsque l’existence d’un tel contenu lui aura été notifiée par le client dans les conditions prévues par la réglementation applicable. Ce type de demande sera facturée à l’heure.</section><br>
          <h2>Article 7 - Obligations du client : </h2>
            <section>Le Client s’engage à fournir au prestataire les informations, les documents et les accès nécessaires à la réalisation de ses prestations.
              <h3>7.1 - Nom de domaine : </h3>
                Le nom de domaine sera enregistré chez un registraire (bureau d’enregistrement) de son choix. Le prestataire devra avoir accès à l’espace du client pour gérer les DNS et faire pointer le site vers le serveur du prestataire (le cas échéant).<br>
                Le client qui en est propriétaire, devra lui-même faire les démarches de renouvellement auprès son registraire et se porte responsable en cas d’indisponibilité de son site internet dû à un manquement à ses démarches. Il lui est fortement recommandé d’activer un renouvellement automatique du nom de domaine.<br>
              <h3>7.2 - Hébergement : </h3>
                Le client doit souscrire un hébergement pour son site internet. Il peut prendre un hébergeur de son choix ou celui proposé par le prestataire. Quel que soit l’hébergeur choisi, le prestataire doit avoir un accès au Panel d’administration du site pour gérer les accès FTP, les bases MySQL, les adresses mail et les certificats SSL.<br>
                Si le client choisit un autre hébergement que celui du prestataire, celui-ci devra faire lui-même les démarches de renouvellement et de sauvegarde. En cas de panne ou d’indisponibilité du serveur, le client devra lui-même prendre contact avec son hébergeur et faire une demande de maintenance et le prestataire ne pourra être tenu comme responsable en cas défaillance ou perte de données.<br>
              <h3>7.3 - Cotenu : </h3>
                Éléments pré-existants : le client devra fournir les photos, les textes du site, les vidéos, les musiques ainsi que les informations légales et les descriptions des services de l’entreprise qui seront mis en forme par le prestataire.<br>
                Le client est responsable de l’obtention de toutes les autorisations d’utilisation et/ou de diffusion, dans le monde entier, des éléments préexistants qu’il fournit au prestataire.<br>
              <h3>7.4 - Validation : </h3>
                Le client suivra le développement en direct de son site via l’URL temporaire fournie et s’engage à valider dans un délai raisonnable les différentes maquettes et fonctionnalités qui lui seront soumises par le prestataire à chaque étape du projet.<br>
              <h3>7.5 - Anomalie : </h3>
                Le client s’engage à ne pas diffuser de contenu illicite ou ayant pour effet de diminuer, de désorganiser, de ralentir ou d’interrompre la circulation normale des données sur le site et signaler immédiatement au prestataire toute difficulté, réserve ou tout litige survenu au cours de l’exécution des services ou toute utilisation anormale, abusive ou frauduleuse du site dont il aurait connaissance.<br>
                Dans l’hypothèse où un Client serait responsable d’une infraction à la législation en vigueur ou d’une atteinte aux droits des tiers, le Prestataire se réserve le droit de fournir, à la demande de toute autorité légitime (juridiction, autorité administrative, services de police), tous renseignements permettant ou facilitant l’identification du Client contrevenant.</section><br>
          <h2>Article 8 - Réclamation du client :</h2>
            <section>En cas d’inexécution ou d’exécution défectueuse des services, le client devra notifier le prestataire et formuler ses griefs et réserves dans un délai de trente jours calendaires suivant la date où il en a connaissance, afin de permettre aux parties de faire leurs meilleurs efforts en vue de parvenir à un règlement amiable de la situation dans un délai de trente jours calendaires suivant la notification initiale du client.<br>
            À défaut de règlement amiable dans les conditions susvisées et en cas d’inexécution suffisamment grave du prestataire, le client pourra résilier les Conditions Générales dans les conditions prévues à l’article 17 et obtenir le cas échéant des dommages et intérêts du prestataire aux fins de réparer le préjudice subi, le client renonçant par avance à solliciter une exécution forcée en nature des services par le prestataire ou un tiers ou une réduction proportionnelle du prix, par dérogation expresse aux dispositions des articles 1221, 1222 et 1223 du Code civil.</section> <br>
          <h2>Article 9 - Responsabilité du prestataire : </h2>
            <section>Le prestataire est tenu à une obligation de moyens au titre de la fourniture des services.<br>
            Le client déclare être informé des contraintes et des limites des réseaux Internet et ne pourra en aucun cas rechercher la responsabilité du Prestataire au titre de dysfonctionnements dans l’accès aux services, des vitesses d’ouverture et de consultation des pages des services, de l’inaccessibilité temporaire ou définitive des services ou de l’utilisation frauduleuse par des clients ou des tiers du site.<br>
            La responsabilité du prestataire ne saurait davantage être engagée :<br>
              <ul>
                <li>En cas de manquement à une quelconque obligation résultant d’un cas fortuit ou d’un évènement de force majeure au sens de l’article 1218 du Code Civil, y compris, mais sans y être limités, des évènements imprévisibles tels que grèves, arrêts de travail, troubles sociaux, fermetures d’usines, inondations, incendies, défaut de production ou de transport non-consécutif à son fait personnel, rupture d’approvisionnement, guerres, émeutes, insurrections et plus généralement toute circonstance ou événement empêchant la Société d’exécuter convenablement ses obligations ;</li>
                <li>Dans le cas où les informations, données, instructions, directives, matériels ou supports communiqués par le client sont erronés ou incomplets, et plus généralement dans le cas où l’inexécution ou l’exécution défectueuse des services résulte en tout ou partie du comportement, d’un manquement ou d’une carence du client ;</li>
                <li>Dans le cas où certains services ou fonctionnalités ne seraient pas accessibles sur le site en raison d’une désactivation par un client des cookies via l’interface du logiciel de navigation ;</li>
                <li>Dans le cas où les fonctionnalités du site s’avèreraient incompatibles avec certains équipements et/ou fonctionnalités du matériel informatique de l’utilisateur. Le client est par ailleurs responsable des contenus et informations importés, stockés et/ou publiés sur le site et s’engage à n’employer aucune mesure technique de nature à permettre le contournement des mesures techniques de protection mises en place par le prestataire en vue d’éviter toute utilisation frauduleuse du site et des services.</li>
              </ul>
            Le client prend également sous sa seule responsabilité l’ensemble des mesures de nature à assurer l’intégrité et la sauvegarde de l’ensemble de ses données, fichiers et documents et renonce à rechercher la responsabilité du prestataire en cas de dommages survenus aux données, fichiers ou à tout autre document qu’il aurait pu confier au prestataire dans le cadre de l’utilisation du site et/ou des services.<br>
            Plus généralement, le client s’engage par ailleurs à garantir le prestataire de toute réclamation, revendication, ou opposition et plus généralement de toute procédure qui serait formée à son encontre à raison de l’utilisation qui aurait été faite par le client du site ou des services.<br>
            En tout état de cause, le prestataire n’encourt aucune responsabilité au titre de tous dommages ou préjudices indirects ou immatériels tels que préjudice financier, perte de chance, perte de profit, perte de contrat, perte de commande, perte de clientèle, perte d’exploitation, préjudice ou trouble commercial ou préjudice d’image, qui pourraient résulter de la fourniture défectueuse ou de l’absence de fourniture des services, d’une évolution de l’algorithme ou règlements de Google et autres moteurs de recherche ayant pour conséquence une perte de classement et/ou de visibilité, de toute évolution des navigateurs web qui provoquerait un bug sur le site internet ou de toute attaque de hacking ou de déni de service qui endommagerait ou perturberait les services du site internet du client.<br>
            La responsabilité du prestataire ne peut excéder un montant égal au prix hors taxes perçu auprès du client au titre de la fourniture des services au cours des douze derniers mois.<br>
            Conformément aux dispositions de l’article 2254 du Code Civil, toute action judiciaire du client à l’égard du prestataire est atteinte par la prescription à l’expiration d’une durée d’un an suivant la date à laquelle le client concerné a eu connaissance ou est présumé avoir eu connaissance du fait dommageable.</section><br>
          <h2>Article 10 - Systèmes d'enregistrement : </h2>
            <section>Les registres informatisés, conservés dans les systèmes informatiques du prestataire et de ses partenaires dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications et actions du clients et du prestataire. L’archivage de ces éléments est effectué sur un support fiable et durable de manière à correspondre à une copie fidèle et durable au sens de la réglementation applicable.<br>
            Le client reconnaît la valeur de preuve des systèmes d’enregistrement automatisés du site et déclare renoncer à les contester en cas de litige.</section><br>
          <h2>Article 11 - Confidentialité : </h2>
            <section>Le prestataire s’engage, tant en son nom personnel qu’au nom de ses collaborateurs, à garder secrètes les informations qui lui seront divulguées par le client pour les besoins de l’exécution des présentes, et ce tant pendant la durée du présent contrat qu’après son extinction.<br>
            À ce titre, il s’engage à :
              <ul>
                <li>Ne pas les utiliser à d’autres fins que celles de l’exécution des présentes,</li>
                <li>Limiter la divulgation des informations aux seules personnes en charge de l’exécution des prestations,</li>
                <li>Recueillir de ceux-ci leur engagement de secret,</li>
                <li>Ne pas communiquer avec les concurrents du client.</li>
              </ul></section><br>
          <h2>Article 12 - Données personnelles : </h2>
            <section>Pour davantage d’informations concernant l’utilisation de données à caractère personnel par le prestataire, veuillez lire attentivement la charte sur le respect de la vie privée (Politique relative aux données personnelles). Vous pouvez à tout moment consulter cette charte en suivant ce lien : www.myikigai.fr/static_pages/privacy.</section><br>
          <h2>Article 13 - Liens hypertextes : </h2>
            <section>Les liens hypertextes disponibles sur le site peuvent renvoyer vers des sites tiers ou partenaires. Ils sont fournis uniquement pour la convenance du client, afin de faciliter l’utilisation des ressources disponibles sur internet. Si le client utilise ces liens, il quittera le site et acceptera alors d’utiliser les sites tiers à ses risques et périls ou le cas échéant conformément aux conditions qui les régissent.<br>
            En tout état de cause, l’existence d’un lien hypertexte vers le site en provenance d’un site tiers ou sur le site vers un site tiers ou de partenaire ne saurait engager la responsabilité du prestataire à quelque titre que ce soit et notamment quant à la disponibilité, aux contenus et aux produits et/ou services disponibles sur ou à partir de ce site tiers ou partenaire.<br>
            Le client n’est pas autorisé à créer sur un site tiers un ou plusieurs liens hypertextes reliant à la page d’accueil du site ou autre page interne, sauf autorisation préalable et écrite du prestataire.</section><br>
          <h2>Article 14 - Propriété intellectuelle : </h2>
            <section>Le prestataire est seul titulaire de tous les contenus présents sur son site internet, notamment et sans limitation, tous textes, fichiers, images animées ou non, photographies, vidéos, logos, dessins, modèles, logiciels, marques, identité visuelle, base de données, structure du Site et tous autres éléments de propriété intellectuelle et autres données ou informations qui sont protégés par les lois et règlements français et internationaux relatifs notamment à la propriété intellectuelle.<br>
            En conséquence, aucun des contenus du site ne pourra en tout ou partie être modifié, reproduit, copié, dupliqué, vendu, revendu, transmis, publié, communiqué, distribué, diffusé, représenté, stocké, utilisé, loué ou exploité de toute autre manière, à titre gratuit ou onéreux, par un Client ou par un tiers, quel que soient les moyens et/ou les supports utilisés, qu’ils soient connus ou inconnus à ce jour, sans l’autorisation préalable et écrite du prestataire, et le client est seul responsable de toute utilisation et/ou exploitation non autorisée.<br>
            En outre, toute extraction, intégration, compilation, ou utilisation à des fins commerciales d’informations contenues dans les bases de données accessibles sur le Site, ainsi que toute utilisation de logiciels, robots, systèmes d’exploration de données et autres outils de collecte de données est strictement interdite aux clients.<br>
            Le prestataire concède toutefois au client, sous réserve du respect par ces derniers des présentes Conditions Générales, un droit non exclusif et non cessible d’accéder aux contenus présents sur le site dont il détient la pleine propriété, de les télécharger et de les imprimer dans le cadre d’une utilisation personnelle et non commerciale.<br>
            De manière réciproque, chaque client autorise expressément le prestataire à reproduire, diffuser, héberger, stocker, reproduire, communiquer, publier, modifier, adapter, traduire et afficher tout ou partie de son contenu sur le site, par tous moyens ou procédés, à des fins d’exploitation, d’amélioration, de vérification, de promotion, de marketing, de publicité du site ou dans le cadre de la mise en place de partenariats. Cette licence non-exclusive, transférable et sous-licenciable est valable pour le monde entier, sans redevance, pour une durée indéterminée ou jusqu’à la fin du dit partenariat.<br>
            Dans le cadre d’une prestation de service, Tous les documents papier, graphiques, numériques et livrables du prestataire, seront de la propriété du client. Toutes les droits sur les créations du prestataire seront cédés sans limite de temps et géographique et pour types d’utilisation après solde de la facture de fin de projet. Le prestataire s’engage à ne jamais utiliser ces documents et/ou créations uniques dans le cadre d’autres projets, qui restent la propriété exclusive du client.<br>
            Cependant, certains éléments graphiques pour illustrer le site internet du client peuvent être achetés dans des banques de ressources numériques libres de droit comme les photos, vidéos, pictogrammes, vecteurs (ex : Adobe Stock, Icon Finder, Freepik) et peuvent être utilisés sur le site d’autres clients. Le prestataire payera pour le client une licence d’utilisation commerciale des ressources. La licence ne permet cependant pas une utilisation exclusive des ressources. En d’autres termes, ces ressources sont vendues à d’autres clients et le contenu acheté peut également se retrouver sur le site de concurrents du client. Le client ne peut en aucun cas se retourner contre le prestataire si un site concurrent utilisait ces mêmes ressources.</section><br>
          <h2>Article 15 - Notifications et correspondances : </h2>
            <section>Toute notification ou convocation écrite requise ou permise en vertu des stipulations des présentes sera valablement effectuée si elle est adressée par courrier électronique adressé aux coordonnées de la partie concernée, chaque partie élisant domicile en son siège social.<br>
            Tout changement de coordonnées d’une partie pour les besoins des présentes devra être notifié à l’autre partie selon les modalités prévues ci-dessus.<br>
            Les notifications faites par courrier électronique seront présumées avoir été faites à la date d’envoi du courrier électronique.</section><br>
          <h2>Article 16 - Délais, planning de réalisation, livrables et résiliation : </h2>
            <section><h3>16.1 - Délais et planning de réalisation : </h3>
              – Début des travaux : après signature du contrat par les deux parties et fixé à la date de l’encaissement par le prestataire de l’acompte.<br>
              – Date de livraison de la prestation au client : 60 jours calendaires suivant la date de début des travaux.<br>
              La date de livraison pourra être repoussée par le prestataire si le client ne fournit pas à temps les éléments nécessaires définis à l’article 7. De toute évidence, cette date ne serait être respectée en cas de force majeure qui surviendrait après la signature du contrat.<br>
            <h3>16.2 - Livrables : </h3>
              Le prestataire fournira au client les éléments suivants :<br>
              – Au début des travaux : l’adresse internet temporaire (URL provisoire) où le client pourra suivre l’avancement du projet. Cette adresse servira de référence tout au long du projet pour les validations successives des maquettes ainsi que pour la recette finale.<br>
              – Après la recette finale formalisée par écrit par le client (signature électronique) et le paiement du solde de la facture par le client, le prestataire fournira au client :
                <ul>
                  <li>La fiche récapitulative définitive des différents codes, mots de passe et identifiants nécessaires à l´accès au site par le client.</li>
                  <li>Tous les éléments nécessaires à l’utilisation du Backoffice permettant au client de gérer par lui-même son site internet (abonnement payant).</li>
                  <li>L’adresse internet définitive (URL publique) qui se substituera à l’adresse provisoire et rendra ainsi le site visible publiquement sur internet.</li>
                </ul>
            <h3>16.3 - Résiliation : </h3>
              En cas de vente à exécution successive (abonnement à un hébergement web et/ou nom de domaine et/ou service de référencement), les présentes Conditions Générales sont conclues pour une durée initiale d’un an. A défaut de dénonciation des présentes Conditions Générales dans un délai de 15 jours précédant le terme de cette durée initiale, la fourniture des services et les Conditions Générales sont tacitement reconduits pour une nouvelle période d’une durée équivalente à la durée initiale, aux conditions tarifaires en vigueur à la date de la reconduction.<br>
              Le Prestataire se réserve le droit de suspendre l’accès d’un client à son site et aux services de façon permanente ou de façon temporaire, en cas de manquement par ledit client à ses obligations résultant des présentes Conditions Générales.<br>
              Par ailleurs, le prestataire ou le client pourra résilier les Conditions Générales de plein droit de manière anticipée par l’envoi d’une notification écrite :
                <ul>
                  <li>En cas de survenance d’un cas de force majeure tel que visé à l’article 9 ci-avant ;</li>
                  <li>Après avoir notifié l’autre partie en cas de manquement grave de celle-ci à ses obligations ou au titre des lois et règlements applicables, auquel il n’aurait pas été remédié dans un délai de quinze jours (lorsqu’il peut être remédié à ce manquement) suivant notification écrite indiquant la nature du manquement et la nécessité d’y remédier</li>
                </ul></section><br>
          <h2>Article 17 - Prix, conditions et moyens de règlement : </h2>
            <section><h3>17.1 - Prix : </h3>
              En contrepartie de la prestation définie à l’article 3 et dans le bon de commande, le Client s’engage à payer au prestataire la facture correspond à la totalité des services livrés.
            <h3> 17.2 - Conditions de règlement :
              <ul>
                <li>50% de la somme à la signature du contrat de prestation ;</li>
                <li>25% de la somme à la livraison des premières maquettes ;</li>
                <li>25% de la somme en fin de projet avant livraison des services.</li>
              </ul>
            <h3>17.3 - Moyen de règlement : </h3>
              Le Client de la zone euro devra payer ses factures par virement bancaire (SEPA). Les coordonnées bancaires du prestataire sont disponibles sur les factures.<br>
              Pour tout client hors zone euro, le paiement des factures pourra être fait par virement bancaire international, via le service Wise.<br>
            <h3>17.4 - Modification des prix et impayés : </h3>
              Le tarif est ferme et ne peut être révisé pendant la durée d’exécution des Services, les parties renonçant expressément à se prévaloir des dispositions de l’article 1195 du Code Civil.<br>
              Le prestataire se réserve toutefois le droit de modifier ses prix à tout moment pour tous services qui seraient souscrits postérieurement à cette modification.<br>
              Des éventuelles réductions de prix, ristournes et remises pourront s’appliquer aux services dans des conditions prévues sur le site ou dans tout autre document qui serait communiqué au client.  En cas de tarif promotionnel, le prestataire s’engage à appliquer ce tarif à toute commande passée durant la période de la promotion.<br>
              En cas de règlement anticipé par le client, aucun escompte ne sera pratiqué. En aucun cas les paiements ne peuvent être suspendus ni faire l’objet d’une quelconque compensation sans accord préalable et écrit entre le prestataire et le Client. Toute suspension, déduction ou compensation opérée unilatéralement par le client sera traitée comme un défaut de paiement et entraînera toutes les conséquences d’un retard de paiement.<br>
              Par ailleurs, il est expressément convenu que le client est valablement mis en demeure de payer par la seule exigibilité de l’obligation, conformément aux dispositions de l’article 1344 du Code civil. En cas de retard de paiement de l’une quelconque des échéances, le prestataire se réserve notamment le droit, sans qu’aucune indemnité ne soit due au client, de :
                <ul>
                  <li>exiger le paiement immédiat de l’ensemble des sommes à devoir au titre des services, celles-ci devenant immédiatement exigibles quelle que soit leur échéance initialement prévue ;</li>
                  <li>refuser toute nouvelle commande ou exiger pour toute nouvelle commande un paiement comptant ou une garantie pour la bonne exécution des engagements ;</li>
                  <li>imputer tout paiement partiel en premier lieu sur la partie non privilégiée de la créance puis sur les sommes dont l’exigibilité est la plus ancienne ;</li>
                  <li>réduire, suspendre ou annuler l’accès aux services, 7 jours après mise en demeure restée sans effet, effectuée par le prestataire auprès du client ;</li>
                  <li>appliquer, sans mise en demeure préalable, à toutes les sommes dues, dès le premier jour de retard et jusqu’à complet paiement, des pénalités de retard calculées au taux visé à l’article L.441-6 du Code de Commerce ;</li>
                  <li>et/ou exiger le paiement d’une indemnité forfaitaire de 100 € pour frais de recouvrement, pour chaque facture payée en retard, et le paiement d’une indemnité égale à 10% des sommes lui restant dues, sans préjudice de la réparation de tout dommage effectivement subi.</li>
                </ul>
              Toute modification des tarifs résultant d’une augmentation de la taxe sur la valeur ajoutée ou la création de toute nouvelle taxe assise sur le prix des Services sera immédiatement et automatiquement appliquée.</section><br>
          <h2>Article 18 - Autonomie et absence de renonciation : </h2>
            <section>Si l’une quelconque des stipulations des présentes Conditions générales était déclarée nulle ou inapplicable pour quelque cause que ce soit en application d’une loi, d’un règlement ou à la suite d’une décision de justice devenue définitive, elle serait réputée non écrite et les autres stipulations resteraient en vigueur.<br>
            Le fait pour le prestataire de ne pas se prévaloir à titre temporaire ou permanent d’une ou de plusieurs stipulations des Conditions Générales n’emportera en aucun cas renonciation.</section><br>
          <h2>Article 19 - Modification des conditions générales de service :</h2>
            <section>Le prestataire se réserve le droit de modifier à tout moment et sans préavis le contenu ou l’url du site, les services et les présentes Conditions Générales.<br>
            Toute utilisation du site ou des services consécutive à une modification apportée aux Conditions Générales emportera acceptation par chaque client desdites modifications. La version la plus récente et en vigueur des Conditions Générales sera toujours disponible à l’adresse suivante : www.myikigai.fr/static_pages/terms_of_service.<br>
            Lorsque les modifications apportées aux Conditions Générales seront considérées comme substantielles, celles-ci seront portées à la connaissance du client par courrier électronique et devront faire l’objet d’une acceptation par ce dernier lors de leur prochaine commande de services.</section><br>
          <h2>Article 20 - Litiges et arbitrage : </h2>
            <section>Tout différend entre les parties relatif à l’existence, la validité, l’interprétation, l’exécution et la résiliation du présent contrat (ou de l’une quelconque de ses clauses), que les parties ne pourraient résoudre entre elles à l’amiable, sera soumis à la juridiction du Tribunal de Commerce de Chambéry, France soumis au droit français<br>
            Le Client peut également faire appel gratuitement au Médiateur des Entreprises, plus d’informations depuis cette URL : https://www.economie.gouv.fr/mediateur-des-entreprises/la-mediation.</section><br>
          <h2>Article 21 - Droit applciable et langue : </h2>
            <section>Les présentes Conditions Générales et les opérations qui en découlent sont régies et soumises au droit français. Elles sont rédigées en langue française. En cas de traduction en une ou plusieurs langues étrangères, seul le texte français fera foi en cas de litige.</section><br>
          <h2>Article 22 - Validité de l'offre de service : </h2>
            <section>Tout contrat de prestation de service est valable pendant 30 jours. Si le contrat n’est pas signé dans cette période, il devra être réédité pour être valable. Le prestataire est libre de modifier les prix et conditions de cette offre dans le cadre d’une réédition de contrat.</section>
        </div>
      </div>
    </div>
  </div>
</main>
