// CSS for the main content / background
html {
  height: -webkit-fill-available; /* We have to fix html height */
}

body{
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  background-image: url("https://res.cloudinary.com/ddt8brfwz/image/upload/v1707731497/luke-chesser-eICUFSeirc0-unsplash_tpq51g.jpg");
  background-size: cover;
  background-attachment: fixed;
}

// CSS fot the navbar
nav {
  height: 8vh;
}
nav img{
  width: 5vh;
  height: 5vh;
  margin-right: 1.25vh;
}
nav .nav-link {
  color:black;
  border-radius: 0;
    &:hover{
      border-radius: 0;
      background: #ad3e9e;
      box-shadow: 0.8vh 0.8vh black;
      scale: 1.1;
      transition: 0.5s; }
}


nav .navbar-toggler {
  border-radius: 0;
  background-color: #F8F9FA;
  width: fit-content;

}

nav #navbarToggler{
  text-align: right;
  padding-right: 1.25vh;
}

nav span{
  color: black;
}

@media (max-width: 768px){
  nav{
    width: 100%;
  }
}

// CSS for the banner
.banner {
  background-position: center;
  padding: 8.8vh 0 1.89vh 3.13vh;
}

.banner h1 {
  color: rgb(255, 255, 255);
  text-shadow: 0.12vh 0.12vh 0.37vh rgba(0,0,0,0.2);
  font-size: 18.8vh;
  font-weight: bold;
}

.banner p {
  font-size: 6.26vh;
  color:rgb(255, 255, 255);
}

// CSS for the scrollspy
main h1 {
  scroll-margin-top: 18.8vh;
}

// CSS body
main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: none;
  .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section{
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3.13vh;
  }
  .section1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  h1{
    font-size: 6.26vh;
    font-weight: bold;
    color:#ad3e9e;
  }
  b{
    color:#ad3e9e;
  }
  .text{
    width: 100%;
    background-color: #ffffff;
    border: solid black;
    box-shadow: 0.88vh 0.88vh black;
    padding: 3.13vh;
    text-align: justify;
      h1{
        font-size: 6.26vh;
        font-weight: bold;
        color:#ad3e9e;
      }
      b{
        color:#ad3e9e;
      }

    }
}

// CSS section Qui suis-je?
#WhoAmI{
  background-image: url("https://res.cloudinary.com/ddt8brfwz/image/upload/a_180/v1707731497/luke-chesser-eICUFSeirc0-unsplash_tpq51g.jpg");
  background-size: cover;
  h1{
    color:#ad3e9e;
    text-align: right;
  }
  b{
    color:#ad3e9e;
  }
  p{
    font-size: 1.2rem;
  }
}

// CSS section Ikiquoi?
#IkiQuoi{
  background-image: url("https://res.cloudinary.com/ddt8brfwz/image/upload/a_180/v1707731497/luke-chesser-eICUFSeirc0-unsplash_tpq51g.jpg");
  background-size: cover;
  b{
    color:#ad3e9e;
  }
  p, li, h3{
    font-size: 1.2rem;
  }
  h3{
    text-align: center;
    font-family: "Bricolage Grotesque", "sans-serif";
    color:#ad3e9e;
    font-size: 2.5rem;
    font-weight: bold;  }
  .nav{
    width: 100%;  }
  button{
    background-color: #ad3e9e;
    color: white;
    border: none;
    border-radius: 0;
    transition: 0.5s;
      &:hover{
        box-shadow: 0.88vh 0.88vh black;
        scale: 1.1; }
      &:after{
        content: '';
        background: #ad3e9e;
        width: 0;
        height: 100%;
        position: absolute;
        inset: 0;
        transition: all 0.5s linear;  }
  }
  .tab-content{
    padding-top: 1.25vh;  }
}

// CSS section Offres
#Offres{
  background-image: url("https://res.cloudinary.com/ddt8brfwz/image/upload/v1707731497/luke-chesser-eICUFSeirc0-unsplash_tpq51g.jpg");
  background-size: cover;
    h3{
      text-align: right;
      font-family: "Bricolage Grotesque", "sans-serif";
    }
  .section1{
    padding: 25px 25px 0px 25px;
    background-color: #ffffff;
    border: solid black;
    box-shadow: 7px 7px black;
  }
  .section1 .content .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
  }

  .container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: white;
    transition: 0.5s;
    box-shadow: 7px 7px black;
    border-radius: 0;
  }

  .container .card:hover {
      height: 350px;
  }

  .container .card .img-box {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 300px;
      height: 220px;
      background: #333;
      overflow: hidden;
      transition: 0.5s;
  }

  .container .card:hover .img-box {
      top: -100px;
      scale: 0.75;
      box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  }

  .container .card .img-box img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .container .card .text-content {
      position: absolute;
      top: 252px;
      width: 100%;
      height: 35px;
      padding: 0 20px;
      text-align: center;
      overflow: hidden;
      transition: 0.5s;
  }

  .container .card:hover .text-content {
      top: 130px;
      height: 250px;
  }

  .container .card .text-content h5 {
      font-size: 1rem;
      font-weight: 700;
      color: #ad3e9e;
      font-family: "Bricolage Grotesque", "sans-serif";
      text-align: right;
  }

  .container .card .text-content p {
      color: #333;
      font-size: 0.85rem;
      text-align: left;
  }

  @media (max-width: 480px) {
      .container .card {
          width: 230px;
      }

      .container .card:hover .text-content{
        height: 420px;
    }

    .container .card:hover {
      height: 420px;
  }

      .container .card .img-box {
          width: 185px;
      }

      .container .card .text-content p {
          font-size: 0.8rem;
      }
  }
}
// CSS section portfolio
#IknowThings{
  background-image: url("https://res.cloudinary.com/ddt8brfwz/image/upload/v1707731497/luke-chesser-eICUFSeirc0-unsplash_tpq51g.jpg");
  background-size: cover;
  h1{
    color: #ad3e9e;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section1{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.75vh;
  width: 100%;
}

figure.card {
  position: relative;
  width: 47.62vh;
  height: 30.07vh;
  background-image: var(--image-src);
  background-position: 50% 50%;
  background-size: 125%;
  transition: 0.5s;
  box-shadow: 0.8vh 0.8vh black;
  border: solid black;
  overflow: hidden;
  border-radius: 0;
  &:hover {
    figcaption {
      transform: translateY(0px);
    }
  }

  &--1 {
    &:hover {
      background-position: 50% 100%;
    }
    figcaption {
      bottom: 0;
      transform: translateY(80px);
    }
  }

  &--1 {
    figcaption {
      width: 100%;
      height: 80px;
      padding: 15px 20px;
    }
  }

  figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: #282828;
    transition: transform 400ms ease;
    .info {
      color: rgb(226, 226, 226);
      font-family: "Londrina Solid", "sans-serif";
      h3 {
        font-family: "Londrina Solid", "sans-serif";
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-bottom: 2px;
      }
      span {
        color: #ad3e9e;
        font-size: 0.85rem;
      }
    }
    .links {
      display: flex;
      justify-content: end;
      align-items: center;
      a {
        text-decoration: none;
        position: relative;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ad3e9e;
        margin-left: 10px;
        font-size: 1.2rem;
        opacity: 0.65;
        border-radius: 50%;
        overflow: hidden;
        &:hover {
          opacity: 1;
        }
        &:focus {
          outline: none;
          &::after {
            transform: scale(1);
            opacity: 1;
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: 0;
          background: rgba(173, 62, 158, 0.05);
          transform: scale(0.5);
          z-index: -1;
          transition: all 150ms ease;
        }
      }
    }
  }
}

  @media only screen and (max-width: 900px) {
    body {
      align-items: start;
    }
    .container {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
      grid-gap: 40px;
      padding: 80px 0;
    }
  }

.support{
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
  a{
    margin: 0 10px;
    color: #222;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
    &:hover{
      transform: scale(1.1);
    }
  }

}
// CSS section scroller langages/outils infin
#tools{
  width: 100%;
  background-size: cover;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.slider{
  margin: 0 200px 0 200px;
  height: 250px;
  display:flex;
  align-items: center;
  .slide{
    height: 200px;
  }
  .slider-track{
    height: 250px;
    white-space: nowrap;
    animation: Scroll 5s linear infinite;
  }
  @keyframes Scroll {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}



// Media queries
@media (max-width: 768px) {
  body{
    width: 100%;
  }
  .banner h1 {
    font-size: 12.5vh;
  }
  .banner p {
    font-size: 4.16vh;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section{
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container{
    width: 100%;
  }

}


@media only screen and (orientation: portrait) {
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section{
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container{
    width: 100%;
  }
}
