main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: none;
  section{
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px; }
  .section1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;  }
  .text{
    width: 100%;
    background-color: #ffffff;
    border: solid black;
    box-shadow: 7px 7px black;
    padding: 25px;
      h1{
        font-size: 50px;
        font-weight: bold;
      }
    }
  h2{
    font-family: 'Bricolage Grotesque', sans-serif;
  }
}
