  <!-- Navbar + Header -->
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">

          <!-- logo -->
          <a class="navbar-brand" href="/">
            <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706098486/logo_noir_sur_transparent_guxb9u.png" alt="Logo" class="d-inline-block align-text-top"></a>
          <!-- fin logo -->

          <!-- menu -->
          <div class="collapse navbar-collapse bg-body-tertiary" >
            <ul class="nav nav-pills navbar-nav me-4 mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/#IkiQuoi">My Iki-quoi?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#Expertise">Mon expertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#WhoAmI">Qui suis-je?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#IknowThings">Mes réalisations</a>
              </li>
            </ul>
                <a class="button" href="/#Contact">Contactez-moi!</a>
          <!-- fin bouton et menu responsive -->
          </div>
        </div>
      </nav>
      <!-- fin Navbar -->

      <!-- Header -->
      <header class="banner">
        <div class="container">
          <h1>My Ikigaï</h1><p>Le studio web créatif et perché</p>
        </div>
        <%= render "shared/flashes" %>
      </header>
      <!-- fin Header -->
    </div>
    <!-- fin Navbar + Header -->
