
<div class="footer" style="background-image: url(https://res.cloudinary.com/ddt8brfwz/image/upload/v1706098448/adrian-infernus-GLf7bAwCdYg-unsplash_nbmeuf.jpg);">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site a été fait avec <i class="fas fa-heart"></i> par le studio web créatif et perché My Ikigaï
  </div>
</div>
