<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Suivez-nous sur les réseaux sociaux :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-facebook" style="color: #7373ff;"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-square-instagram" style="color: #7373ff;"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-linkedin" style="color: #7373ff;"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-square-github" style="color: #7373ff;"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>My Ikigaï Web Studio
          </h6>
          <p>
            J'ai à coeur que chaque entreprise ait le site qui lui ressemble.
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#scrollspyHeading1" class="nav-link">Qui suis-je?</a>
          </p>
          <p>
            <a href="#scrollspyHeading2" class="nav-link">My Iki-quoi?</a>
          </p>
          <p>
            <a href="#scrollspyHeading3" class="nav-link">Mes services</a>
          </p>
          <p>
            <a href="#scrollspyHeading4" class="nav-link">Mes réalisations</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Liens légaux
          </h6>
          <p>
            <a href="static_pages/legal/" class="text-reset">Mentions légales</a>
          </p>
          <p>
            <a href="static_pages/terms_of_service/" class="text-reset">Conditions générales de service</a>
          </p>
          <p>
            <a href="static_pages/privacy/" class="text-reset">Confidentialité</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cookies</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Tarentaise, Savoie, France</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            hello@myikigai.fr
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold">Made with <i class="fa-solid fa-heart fa-beat" style="color: #7373ff;"></i> by My Ikigaï Web Studio</a>
  </div>
  <!-- Copyright -->
</footer>
