
<div class="footer">
  <div class="footer-links">
    <h4> Suivez-moi! </h4>
    <a href="https://github.com/LeslieRds/" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/leslierados/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/LeslieRds/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/leslierados/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-contact">
    <h4> leslie.rados@myikigai.fr </h4>
  </div>
  <div class="footer-copyright">
    Ce site a été fait avec <i class="fas fa-heart"></i> par le studio web créatif et perché My Ikigaï
  </div>
</div>
