<!-- Main -->
<main role="main">
  <div class="main-container">
    <div data-bs-spy="scroll" data-bs-target="#navbarId" data-bs-offset="0"  class="scrollspy bg-light rounded-2" tabindex="0">

      <!-- section - My Iki-quoi? -->
      <div class="container" id="IkiQuoi">
        <h1>My Iki-quoi?</h1>
        <div class="section1">
          <div class="text">
            <p>Bienvenue chez <b>My Ikigaï</b>, le studio web créatif et perché où chaque projet prend son envol depuis les sommets inspirants des Alpes. Ma devise capte l'essence de ce je suis: associer ma passion pour la créativité au développement de l'image de votre entreprise en ligne.</p>
            <br><br>
            <h2>Pourquoi ce nom?</h2>
            <br>
            <p>L'<b>Ikigaï</b> est un mot japonais qui signifie "raison d'être". J'aime dire qu'il est le point d'équilibre de la conjonction des sphères : ce que vous aimez, ce pour quoi vous êtes doué, ce dont le monde a besoin et ce qui peut vous faire vivre. C'est un concept qui m'inspire et qui guide ma démarche professionnelle. Mon studio web, <b>My Ikigaï</b>, est le fruit de ma passion pour le web et ma volonté de créer des espaces numériques qui se distinguent. Laissez-moi vous accompagner dans la réalisation de votre vision, avec l'engagement et la précision que seul mon studio "créatif et perché" peut vous offrir.</p>
            <br><br>
            <h2>Pourquoi "Créatif et perché"?</h2>
            <br>
            <ul>
              <li><b>La créativité au coeur</b>: Elle est le fil conducteur qui guide mes choix et mes décisions. Je fourmille d'idées à chaque instant</li>
              <br>
              <li><b>Une perspective élevée</b>: Être situé dans les Alpes en Tarentaise n'est pas anodin ; cela infuse mon travail d'une tranquillité et d'une beauté qui transcendent le quotidien. Cette altitude me permet d'offrir une vision fraîche et élevée sur chaque projet, enrichissant ma créativité avec des perspectives uniques.</li>
            </ul>
            <br><br>
            <h2>Mon outil de développement de prédilection : Ruby on Rails</h2>
            <br>
            <p>Dans ce paysage digital en perpétuel changement, il est essentiel de choisir les outils les plus adaptés. <b>Ruby on Rails</b> est mon choix pour plusieurs raisons essentielles :</p>
            <ul>
              <li><b>Efficacité incomparable</b> : Ruby on Rails me permet de développer rapidement et efficacement, grâce à sa philosophie "Convention over Configuration" qui élimine le superflu. Cela signifie que vos projets prennent vie plus vite, sans jamais sacrifier la qualité.</li>
              <li><b>Adaptabilité</b> : La flexibilité offerte par Ruby on Rails s'aligne parfaitement sur ma promesse de créativité. Cet outil me donne la liberté de personnaliser intégralement votre site web, tout en s'appuyant sur une base robuste et sécurisée.</li>
              <li><b>Une communauté dynamique</b> : La force de Ruby on Rails réside aussi dans sa communauté active et soutenante. Avoir accès à un tel réservoir de connaissances et de ressources me garantit de rester à l'avant-garde des dernières tendances et innovations.</li>
              <li><b>Pertinence et durabilité</b> : À une époque où rapidité et flexibilité sont primordiales, Ruby on Rails se distingue comme l'outil idéal pour développer des applications web complexes. Il me permet de répondre aux exigences évolutives du marché, en offrant des solutions web durables et évolutives.</li>
            </ul>
          </div>
          <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706098486/logo_version_noir_et_blanc_jmwzls.jpg" class="avatar">
          </div>
      </div>
      <!-- fin section - My Iki-quoi? -->

      <!-- section - Mes services -->
      <div class="container" id="Offres">
        <h1>Mes services</h1>
        <!-- intro de la section -->
        <div class="section1">
          <div class="text">
            <h3>Là où votre vision rencontre mon expertise.<br> Prêt à vous démarquer? <br>Ensemble, créons le site qui vous ressemble et vous rend unique.</h3>
        <!-- fin intro de la section -->

            <!-- cartes de mes services -->
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <!-- Carte Mon engagement -->
              <div class="col">
                <div class="card">
                  <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707488901/lee-campbell-DtDlVpy-vvQ-unsplash_mjqobl.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Mon engagement : Votre identité Numérique Sur-Mesure</h5>
                    <p class="card-text">Chez <b>My Ikigaï</b>, je suis dédiée à transformer votre vision en une réalité numérique vivante. Consciente que votre site doit être le miroir fidèle de votre marque, je m'engage à développer des solutions web entièrement personnalisées et uniques, qui Vous ressemblent.<br><br><b>Chaque pixel, chaque ligne de code est pensée pour refléter votre identité</b></p>
                  </div>
                </div>
              </div>
              <!-- fin carte Mon engagement -->

              <!-- carte accessibilité -->
              <div class="col">
                <div class="card">
                  <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707491634/kenny-eliason-LUgHXvLe_kM-unsplash_ovls5e.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">L'Art de l'Accessibilité : Adaptable et Inclusif</h5>
                    <p class="card-text">Adoptant une vision <em>"Mobile First"</em>, ej m'assure que votre site offre une expérience utilisateur optimale sur tous les appareils, mettant votre marque à portée de main de chaque visiteur.<br><br>Mon engagement va au-delà, en veillant à ce que votre site soit accessible à tous, y compris aux personnes en situation de handicap, car je crois en <b>un Internet ouvert et accessible à tous.</b></p>
                  </div>
                </div>
              </div>
              <!-- fin carte accessibilité -->

              <!-- carte relation client -->
              <div class="col">
                <div class="card">
                  <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/john-schnobrich-2FPjlAyMQTA-unsplash_otijag.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Une expérience client inégalée, du Premier clic à la mise en ligne</h5>
                    <p class="card-text">Votre parcours à mes côtés est foné sur une écoute attentice et un suivi personnalisé. Je vous accompagne à chaque étape, offrant des conseils pertinents et une communication transparente.<br><br> Mon objectif est de rendre le processus de création de votre site aussi fluide et agréable que possible, en bâtissant une <b>relation de confiance</b> et de collaboration étroite.</p>
                  </div>
                </div>
              </div>
              <!-- fin carte relation client -->

              <!-- carte esthétisme -->
              <div class="col">
                <div class="card">
                  <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/ian-schneider-TamMbr4okv4-unsplash_ielgdd.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Votre esthétique, Mon Savoir-Faire</h5>
                    <p class="card-text">L'esthétique de votre marque et de votre site parle avant tout de vous. De la conception de votre logo, à la définitiaon de votre charte graphique jusqu'à la mise en ligne de votre site, je travaille en étroite collaboration avec vous pour capturer l'essence de votre marque et la traduire en une expérience visuelle captivante. <br><br><b>Ensemble, donnons vie à un design qui vous représente et surtout vous distingue.</b></p>
                  </div>
                </div>
              </div>
              <!-- fin carte esthétisme -->
            </div>
            <!-- fin cartes de mes services -->
          </div>
        </div>
      </div>



        <!-- div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707488901/lee-campbell-DtDlVpy-vvQ-unsplash_mjqobl.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Mon engagement : Votre identité Numérique Sur-Mesure</h5>
                <p>Chez <b>My Ikigaï</b>, je suis dédiée à transformer votre vision en une réalité numérique vivante. Consciente que votre site doit être le miroir fidèle de votre marque, je m'engage à développer des solutions web entièrement personnalisées et uniques, qui Vous ressemblent.<br><br><b>Chaque pixel, chaque ligne de code est pensée pour refléter votre identité</b></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489290/ben-kolde-bs2Ba7t69mM-unsplash_kiib7d.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>L'Art de l'Accessibilité : Adaptable et Inclusif</h5>
                <p>Adoptant une vision <em>"Mobile First"</em>, ej m'assure que votre site offre une expérience utilisateur optimale sur tous les appareils, mettant votre marque à portée de main de chaque visiteur.<br><br>Mon engagement va au-delà, en veillant à ce que votre site soit accessible à tous, y compris aux personnes en situation de handicap, car je crois en <b>un Internet ouvert et accessible à tous.</b></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/john-schnobrich-2FPjlAyMQTA-unsplash_otijag.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Une expérience client inégalée, du Premier clic à la mise en ligne</h5>
                <p>Votre parcours à mes côtés est foné sur une écoute attentice et un suivi personnalisé. Je vous accompagne à chaque étape, offrant des conseils pertinents et une communication transparente.<br><br> Mon objectif est de rendre le processus de création de votre site aussi fluide et agréable que possible, en bâtissant une <b>relation de confiance</b> et de collaboration étroite.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/ian-schneider-TamMbr4okv4-unsplash_ielgdd.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Votre esthétique, Mon Savoir-Faire</h5>
                <p>L'esthétique de votre marque et de votre site parle avant tout de vous. De la conception de votre logo, à la définitiaon de votre charte graphique jusqu'à la mise en ligne de votre site, je travaille en étroite collaboration avec vous pour capturer l'essence de votre marque et la traduire en une expérience visuelle captivante. <br><br><b>Ensemble, donnons vie à un design qui vous représente et surtout vous distingue.</b></p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div -->
      <!-- fin section - Mes services -->

      <!-- section - Qui suis-je? -->
      <div class="container" id="WhoAmI">
        <h1>Qui suis-je?</h1>
          <div class="section1">
          <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707148379/IMG_3449_copie_e4fvov_c_crop_ar_1_1_t0ljfq.jpg" class="avatar">
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae maximus mauris, vitae pulvinar tortor. Aenean blandit elit nunc, quis aliquam libero sagittis at. Donec dictum porttitor sapien, eget semper ex euismod at. Donec ac felis et dui eleifend efficitur sed ac ligula. In sagittis posuere tincidunt. Curabitur purus nisl, posuere eu sapien non, vestibulum auctor quam. Vivamus id velit arcu. In hac habitasse platea dictumst. Nulla ut auctor lectus. Aenean id congue nulla. Donec eget ligula convallis, sodales nibh laoreet, dictum metus. Aliquam vitae scelerisque eros, sed suscipit erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam tincidunt, mauris non fermentum mollis, augue nisl dictum sem, eu tempus metus diam vitae elit. Duis a volutpat nunc, at auctor lorem. Ut eu ultricies nunc, nec aliquam enim. In ac viverra felis. Aenean feugiat, ante nec pretium rutrum, nunc enim molestie felis, non egestas augue neque in diam. Donec ac erat ac nunc commodo aliquet. Mauris tincidunt mi arcu, ac consequat lacus commodo in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam turpis velit, iaculis sodales nunc nec, eleifend egestas augue. Suspendisse et mollis ligula. Donec sed tempus leo, a maximus eros. Cras quam turpis, accumsan non tempus eget, pretium quis neque. Maecenas et pretium eros. Quisque nec lacinia justo, nec malesuada sapien. Aenean felis velit, finibus eget enim a, vestibulum porttitor sem. Ut bibendum orci metus, sit amet gravida sem pulvinar at. Duis feugiat magna elit, vulputate vestibulum lacus placerat eget. Integer ac ultricies arcu, quis condimentum tellus. Quisque egestas, tortor iaculis sollicitudin bibendum, est metus facilisis nibh, id malesuada felis augue sit amet erat. Donec rutrum purus sit amet orci lobortis mollis. Nunc id sem sed elit semper vehicula. Sed tellus nulla, volutpat nec tristique vel, fermentum in eros. Nulla eget ullamcorper tortor, eu feugiat arcu. Maecenas accumsan elit elit, sit amet molestie augue feugiat ut. Maecenas mi ipsum, commodo in dolor eu, fermentum tempor urna. Morbi sagittis leo vitae consequat tincidunt. Phasellus dictum turpis ultricies, rhoncus ex ultricies, tincidunt mi. Aenean blandit nisi lorem. Donec hendrerit malesuada est, venenatis sodales justo posuere quis. Suspendisse consectetur libero laoreet lectus lacinia, ut commodo velit tempor. Sed aliquet, quam eget congue sollicitudin, odio mauris pellentesque orci, ut aliquam leo est in augue. Aenean laoreet, quam quis imperdiet pharetra, odio lorem maximus justo, id condimentum leo turpis id sapien. Donec et pulvinar augue. Integer pretium placerat aliquet. Nunc in urna libero. Donec et suscipit purus. Phasellus consequat ex sit amet metus eleifend vehicula. Maecenas a ornare eros. Vivamus enim libero, semper eget tristique a, maximus in tellus. Nulla ut erat nec justo vehicula laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc at scelerisque nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sagittis orci tempus lectus pellentesque, vel varius lacus ultrices. Nam a ligula ultrices, tincidunt elit non, ullamcorper nisi.</p>
          </div>
      </div>
      <!-- fin section - Qui suis-je? -->

      <!-- section - Mes réalisations -->
      <div class="container" id="IknowThings">
        <h1>Mes réalisations</h1>
      </div>
      <!-- fin section - Mes réalisations -->
    </div>
  </div>
</main>
<!-- fin Main -->
