<!-- Main -->
<main>
  <div class="container">
  <div data-bs-spy="scroll" data-bs-target="#navbarId" data-bs-offset="0"  class="scrollspy rounded-2" tabindex="0">

<!-- section - My Iki-quoi? -->
  <section id="IkiQuoi">
      <div class="section1 text">
        <!-- boutons de navigation -->
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="Ikiwhat-tab" data-bs-toggle="tab" data-bs-target="#Ikiwhat" type="button" role="tab" aria-controls="Ikiwhat" aria-selected="true">My Iki-quoi?</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="why-tab" data-bs-toggle="tab" data-bs-target="#why" type="button" role="tab" aria-controls="why" aria-selected="false">Pourquoi ce nom?</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="creative-tab" data-bs-toggle="tab" data-bs-target="#creative" type="button" role="tab" aria-controls="creative" aria-selected="false">"Créatif et perché"?</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="RoR-tab" data-bs-toggle="tab" data-bs-target="#RoR" type="button" role="tab" aria-controls="RoR" aria-selected="false">Ruby on Rails</button>
          </li>
        </ul>
        <!-- fin boutons de navigation -->
        <!-- zone de texte -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="Ikiwhat" role="tabpanel" aria-labelledby="Ikiwhat-tab"><p>Bienvenue chez <b>My Ikigaï</b>, le studio web créatif et perché où chaque projet prend son envol depuis les sommets inspirants des Alpes. Ma devise capte l'essence de ce je suis: associer ma passion pour la créativité au développement de l'image de votre entreprise en ligne.</p></div>
          <div class="tab-pane fade" id="why" role="tabpanel" aria-labelledby="why-tab"><p>L'<b>Ikigaï</b> est un mot japonais qui signifie "raison d'être". J'aime dire qu'il est le point d'équilibre de la conjonction des sphères : ce que vous aimez, ce pour quoi vous êtes doué, ce dont le monde a besoin et ce qui peut vous faire vivre. C'est un concept qui m'inspire et qui guide ma démarche professionnelle. Mon studio web, <b>My Ikigaï</b>, est le fruit de ma passion pour le web et ma volonté de créer des espaces numériques qui se distinguent. Laissez-moi vous accompagner dans la réalisation de votre vision, avec l'engagement et la précision que seul mon studio "créatif et perché" peut vous offrir.</p></div>
          <div class="tab-pane fade" id="creative" role="tabpanel" aria-labelledby="creative-tab"><ul>
            <li><b>La créativité au coeur</b>: Elle est le fil conducteur qui guide mes choix et mes décisions. Je fourmille d'idées à chaque instant</li>
              <br>
            <li><b>Une perspective élevée</b>: Être situé dans les Alpes en Tarentaise n'est pas anodin ; cela infuse mon travail d'une tranquillité et d'une beauté qui transcendent le quotidien. Cette altitude me permet d'offrir une vision fraîche et élevée sur chaque projet, enrichissant ma créativité avec des perspectives uniques.</li>
          </ul></div>
          <div class="tab-pane fade" id="RoR" role="tabpanel" aria-labelledby="RoR-tab"><h3>Mon outil de développement de prédilection!</h3>
            <p>Dans ce paysage digital en perpétuel changement, il est essentiel de choisir les outils les plus adaptés. <b>Ruby on Rails</b> est mon choix pour plusieurs raisons essentielles :</p>
            <ul>
            <li><b>Efficacité incomparable</b> : Ruby on Rails me permet de développer rapidement et efficacement, grâce à sa philosophie "Convention over Configuration" qui élimine le superflu. Cela signifie que vos projets prennent vie plus vite, sans jamais sacrifier la qualité.</li>
            <li><b>Adaptabilité</b> : La flexibilité offerte par Ruby on Rails s'aligne parfaitement sur ma promesse de créativité. Cet outil me donne la liberté de personnaliser intégralement votre site web, tout en s'appuyant sur une base robuste et sécurisée.</li>
            <li><b>Une communauté dynamique</b> : La force de Ruby on Rails réside aussi dans sa communauté active et soutenante. Avoir accès à un tel réservoir de connaissances et de ressources me garantit de rester à l'avant-garde des dernières tendances et innovations.</li>
            <li><b>Pertinence et durabilité</b> : À une époque où rapidité et flexibilité sont primordiales, Ruby on Rails se distingue comme l'outil idéal pour développer des applications web complexes. Il me permet de répondre aux exigences évolutives du marché, en offrant des solutions web durables et évolutives.</li></div>
        </div>
        <!-- fin zone de texte -->
      </div>
  </section>
<!-- fin section - My Iki-quoi? -->

<!-- section - Expertise -->
      <section id="Expertise">
        <!-- intro de la section -->
        <div class="section1">
          <div class="content">
            <h1>Mon expertise</h1>
            <h3>Prêt à vous démarquer? <b>Ensemble,</b> créons le site qui vous ressemble et vous rend unique.</h3>
        <!-- fin intro de la section -->

        <!-- cartes de mes services -->
          <div class="container">
        <!-- Carte Mon engagement -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707488901/lee-campbell-DtDlVpy-vvQ-unsplash_mjqobl.jpg" alt="...">
              </div>
              <div class="text-content">
                <h5>Mon engagement : <br>Votre identité Numérique Sur-Mesure</h5>
                <p>Consciente que votre site doit être le miroir fidèle de votre marque, je m'engage à développer des solutions web entièrement personnalisées et uniques, qui <b>Vous</b> ressemblent.<br><b>Chaque pixel, chaque ligne de code est pensée pour refléter votre identité</b></p>
              </div>
            </div>
        <!-- fin carte Mon engagement -->

        <!-- carte accessibilité -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707491634/kenny-eliason-LUgHXvLe_kM-unsplash_ovls5e.jpg"  alt="...">
              </div>
              <div class="text-content">
                <h5>L'Art de l'Accessibilité :<br> Adaptable et Inclusif</h5>
                <p>Adoptant une vision <em>"Mobile First"</em>, je m'assure que votre site offre une expérience utilisateur optimale sur tous les appareils.<br>Mon engagement va au-delà, en veillant à ce que votre site soit accessible à tous, car je crois en <b>un Internet ouvert, inclusif et accessible à tous.</b></p>
              </div>
            </div>
            <!-- fin carte accessibilité -->

            <!-- carte relation client -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/john-schnobrich-2FPjlAyMQTA-unsplash_otijag.jpg"  alt="...">
              </div>
              <div class="text-content">
                <h5>Une expérience client inégalée du Premier clic à la mise en ligne</h5>
                <p>Votre parcours à mes côtés est fondé sur une écoute attentive et un suivi personnalisé, dans une communication transparente.<br>Mon objectif est de rendre le processus de création de votre site aussi fluide que possible, en bâtissant une <b>relation de confiance</b> et de collaboration étroite.</p>
              </div>
            </div>
            <!-- fin carte relation client -->

            <!-- carte esthétisme -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/ian-schneider-TamMbr4okv4-unsplash_ielgdd.jpg"  alt="...">
              </div>
              <div class="text-content">
                <h5>Votre esthétique <br> Mon Savoir-Faire</h5>
                <p>L'esthétique de votre marque parle avant tout de vous. De la conception de votre logo, à la définition de votre charte graphique jusqu'à la mise en ligne de votre site, je travaille à capturer l'essence de votre marque et la traduire en une expérience visuelle captivante. <br><b>Ensemble, donnons vie à un design qui vous représente et surtout vous distingue.</b></p>
              </div>
            </div>
            <!-- fin carte esthétisme -->
          </div>
          <!-- fin cartes de mes services -->
          </div>
        </div>
      </section>
<!-- fin de la section mes services -->

<!-- section - Mes langages / outils>
  <section id="tools">
    <div class="slider">
      <div class="slider-track">
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585582/360_F_321243084_GstfWflk1eTLlzUdRZ5mjoP5IG1iCc8J_j6u27t.jpg"  alt="logo HTML CSS JavaScript"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585710/629b7adc7c5cd817694c3231_fdblev.png" alt="logo GitHub"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585740/logovscode2_e7aube.png" alt="logo VS Code"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585672/1_7e9D-oPWPIKBe2AQv862aA_zrh0mf.png" alt="logo Ruby"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578321/heroku-logo-trans_yhcdbv.png" alt="logo Heroku"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578333/62c48bbdd884e8c372162223_gbjgpr.png" alt="logo Rails"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578344/62cdccb0e106734e1ce200aa_g33kpi.png" alt="logo PostgreSQL"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585771/le-wagon-logo-vector-2023_tdho87.png" alt="logo Le Wagon France"/>
      </div>
      <div class="slider-track">
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585582/360_F_321243084_GstfWflk1eTLlzUdRZ5mjoP5IG1iCc8J_j6u27t.jpg"  alt="logo HTML CSS JavaScript"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585710/629b7adc7c5cd817694c3231_fdblev.png" alt="logo GitHub"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585740/logovscode2_e7aube.png" alt="logo VS Code"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585672/1_7e9D-oPWPIKBe2AQv862aA_zrh0mf.png" alt="logo Ruby"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578321/heroku-logo-trans_yhcdbv.png" alt="logo Heroku"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578333/62c48bbdd884e8c372162223_gbjgpr.png" alt="logo Rails"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578344/62cdccb0e106734e1ce200aa_g33kpi.png" alt="logo PostgreSQL"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585771/le-wagon-logo-vector-2023_tdho87.png" alt="logo Le Wagon France"/>
      </div>
          <div class="slider-track">
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585582/360_F_321243084_GstfWflk1eTLlzUdRZ5mjoP5IG1iCc8J_j6u27t.jpg"  alt="logo HTML CSS JavaScript"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585710/629b7adc7c5cd817694c3231_fdblev.png" alt="logo GitHub"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585740/logovscode2_e7aube.png" alt="logo VS Code"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585672/1_7e9D-oPWPIKBe2AQv862aA_zrh0mf.png" alt="logo Ruby"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578321/heroku-logo-trans_yhcdbv.png" alt="logo Heroku"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578333/62c48bbdd884e8c372162223_gbjgpr.png" alt="logo Rails"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578344/62cdccb0e106734e1ce200aa_g33kpi.png" alt="logo PostgreSQL"/>
          <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707585771/le-wagon-logo-vector-2023_tdho87.png" alt="logo Le Wagon France"/>
      </div>
    </div>
  </section>
<! fin section - Mes langages / outils -->

<!-- section - Qui suis-je? -->
      <section id="WhoAmI">
        <div class="section1">
          <!--img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707148379/IMG_3449_copie_e4fvov_c_crop_ar_1_1_t0ljfq.jpg" class="avatar" -->

          <div class="text">
          <h1>Qui suis-je?</h1>
          <p>Je suis Leslie, néo-savoyarde, passionnée de technologies et d'informatique depuis mon plus jeune âge. Enfant de la GenY, j'ai grandi avec un ordinateur à portée de main. <b>Geek dans l'âme</b> j'ai trouvé mon équilibre en créant cette entreprise : un lieu où je peux faire ce que j'aime, tout en vous étant utile. <b>Créative</b>, je fourmille toujours d'idées. J'aime accompagner des entrepreneurs dans la création de l'image de leur entreprise.</p><p><b>Développeuse Full-stack</b>, formée au Wagon France, j'ai appris à concevoir des applications web pour tout type de projets. Ainsi, je vous accompagne dans la création de votre site Internet, qu'il s'agisse d'une page simple <em>(landing page)</em> ou d'un site marchand <em>(e-commerce)</em>. Par mon parcours, j'ai aussi la casquette de <b>graphiste</b>. Je peux aussi vous accompagner dans la définition de votre marque, en concevant votre logo, et tous les supports imprimables nécessaires. </p><p> Nous sommes désormais à un clic de travailler ensemble. </p><p> <b class="conclusion">Alors qu'attendez-vous?</b></p>
          </div>
        </div>
      </section>
<!-- fin section - Qui suis-je? -->

<!-- section - Mes réalisations -->
      <section id="IknowThings">
        <div class="text">
        <h1>Mes réalisations</h1>
        <div class="section1">
          <figure class="card card--1" style="--image-src: url(https://res.cloudinary.com/ddt8brfwz/image/upload/v1707589879/Capture-d_E2_80_99e_CC_81cran-2019-11-12-a_CC_80-22.25.30_o1rvaw.png)">
            <figcaption>
              <span class="info">
                <h3>Le Secret Square</h3>
                <span>Réalisation d'invitations web et print</span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707590240/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.37.05_chkk15.png')">
            <figcaption>
              <span class="info">
                <h3>B&H avocat</h3>
                <span>Réalisation du logo et de la charte graphique</span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707589182/fadasocialagency_1404989989_58_uciqbb.jpg')">
            <figcaption>
              <span class="info">
                <h3>FaDa Social Agency</h3>
                <span>Réalisation du logo</span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707590038/logo-web_sbdbm0.jpg')">
            <figcaption>
              <span class="info">
                <h3>La voie d'Eugénie</h3>
                <span>Accompagnement et réalisation flyers</span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591132/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.51.07_y7ghs4.png')">
            <figcaption>
              <span class="info">
                <h3>AirBnBrain</h3>
                <span>Projet d'étude 1 : création d'une marketplace type AriBnB</span>
              </span>
              <span class="links">
                <a href="https://github.com/LeslieRds/AirbnBrain" target="_blank"><i class="fab fa-github"></i></a>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591133/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.51.48_m4kd9m.png')">
            <figcaption>
              <span class="info">
                <h3>Save My Wallet</h3>
                <span>Projet d'étude 2: création d'une application mobile originale</span>
              </span>
              <span class="links">
                <a href="https://github.com/LeslieRds/save_my_wallet" target="_blank"><i class="fab fa-github"></i></a>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591132/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.50.40_zgdpr2.png')">
            <figcaption>
              <span class="info">
                <h3>The Fashionist</h3>
                <span>Projet de certification (temps de réalisation 8h)</span>
              </span>
              <span class="links">
                <a href="https://github.com/LeslieRds/fashionist-certification" target="_blank"><i class="fab fa-github"></i></a>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591371/miles-burke-idhx-MOCDSk-unsplash_vcswt4.jpg')">
            <figcaption>
              <span class="info">
                <h3>Et si c'était vous?</h3>
                <span>Nous sommes à un clic de travailler ensemble</span>
              </span>
            </figcaption>
          </figure>
        </div>
        </div>
        </section>
<!-- fin section - Mes réalisations -->
    <!-- fin zone scrollspy -->
    </div>
  </div>
</main>
<!-- fin Main -->
