<section class="welcome">
  <div class= "container container-welcome">
    <div class="row">
      <div class="col col-button">
        <h1>My Ikigaï web studio</h1>
        <p>Visitez mon web studio pour comprendre mon identité</p>
        <a href="https://www.myikigai.fr/home">
          <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706098486/logo_noir_sur_transparent_guxb9u.png" alt="Description de l'image 1" />
        </a>
      </div>
      <div class="col col-button">
        <h1>A propos de moi</h1>
        <p>Je m'appelle Leslie, développeuse web passionnée. Voici mon portfolio<br>Site en construction</p>
        <a href="https://www.leslierds.dev">
          <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1712579166/Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo_1_a7bcgj.svg" alt="Description de l'image 2" />
        </a>
      </div>
  </div>
</section>
