.section1{
  margin-top: 25px;
}

.block{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.label{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field{
  border-radius: 10px;
  border: solid black;
  box-shadow: 7px 7px black;
  margin: 15px;
  padding-left: 5px;
}
