.section1{
  display: flex;
  justify-content: center;
}

.section1 .block{
}

.field{
  border-radius: 10px;
  border: solid black;
  box-shadow: 7px 7px black;
  margin: 15px;
  padding-left: 5px;
}
