.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  height: 100px;
}

.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #03283D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  position: center;
}

.nav-link {
  color: whitesmoke;
  font-size: 20px;
  margin-right: 20px;
}
